.movie-card {
  background-color: #202020; /* Dark card background */
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns the title to the bottom */
  height: 250px; /* Adjust based on your content */
  position: relative; /* Needed for absolute positioning of elements */
  font-family: 'DM Sans';
}

.movie-genre {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  padding: 5px 15px;
  background-color: #FED530; /* Genre button background */
  color: black;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  border-radius: 16px; /* Rounded genre button */
}

.movie-meta {
  font-size: 0.85rem;
  color: #aaa; /* Lighter text for meta information */
  top: 60px; /* Adjust as needed to position below the genre tag */
  left: 20px; /* Adjust as needed */
}

.meta-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.meta-item {
  display: flex;
  align-items: center;
  color: #CCCCCC; /* Adjust as needed */
}

.meta-item svg {
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  margin-right: 5px; /* Adjust as needed */
  fill: #CCCCCC;
}

.movie-rating, .movie-duration {
  display: inline-block;
  margin-right: 10px;
}

.movie-title {
  font-size: 1.25rem;
  margin: 10px 0;
  /* The title is no longer absolutely positioned; it is now part of the flex layout */
}

/* Optional: Add hover effects or transitions if needed */
.movie-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
